html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  /* font-family: PingFang SC,"微软雅黑",arial,\5b8b\4f53,georgia,verdana,helvetica,sans-serif; */
  /* font-family: PingFang SC,Helvetica Neue,Helvetica,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif; */
  font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #333; }

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  width: 100%;
  height:100%;
 }
 video{
  object-fit:fill;
 }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

svg:not(:root) {
  overflow: hidden; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  color: #333; }

a:active, a:hover {
  outline: 0;
  color: #777;
  text-decoration: underline; }

a.nhv:hover {
  text-decoration: none; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  border: none;
  vertical-align: middle; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

optgroup {
  font-weight: bold; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

td, th {
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

img, object, select, input, textarea, button {
  vertical-align: middle; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

input {
  outline: 0;
  border: 0;
  background: none; }

iframe {
  display: block; }

.none {
  display: none; }

.fl, .fr {
  display: inline; }

.fl {
  float: left; }

.fr {
  float: right; }
.ellips{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clear {
  clear: both; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0; }

.clearfix {
  zoom: 1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button:vertical {
  display: none; }

::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
  background-color: #fff; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f0f0f0; }

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #f0f0f0;}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #f0f0f0; }

.tin-right::-webkit-scrollbar {
  width: 0;
  height: 0; }
.scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0; }

.bd{
  border: 1px solid #DCDFE6;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.elSelect{
  border: 1px solid #eaeaea;
  border-radius: 4px;
  line-height: 40px;
  min-width: 220px;
}
.ft{
  font-size:15px;
  font-weight:400;
  color: #fff;
}
.cf09{
  color: #009CFF;
}
.f081{
  color: #0081FF;
}
.f13{
  color: #FF1313;
}
.cf526{
  color: #52CC6F;
}
.f404{
  color: #FF4B04;
}
.orange1{
  color: #FF9900;
}
.green1{
  color: #1EDB53;
}
.red1{
  color: #f00;
}
.bg-status{
  line-height: 20px;
  border-radius: 4px;
  padding: 0 5px;
  font-size: 12px;
  font-style: normal;
  color: #fff;
  margin-left: 20px;
}
.bg-orange1{
  background: #FF9900;
}
.bg-theme2{
  background: #1882FC;
}
/* textcolor */
.color1{
  color: #202D40;
}
.color2{
  color: #414B58;
}
.color3{
  color: #606D80;
}
.color4{
  color: #8592A6;
}
.color5{
  color: #5A5E66
}
.theme1{
  color: #0066FF;
}
.theme2{
  color: #1882FC;
}
.theme3{
  color: rgba(24, 130, 252, 0.08);
}
.fwb{
  font-weight: bold;
}
.fw4{
  font-weight: 400;
}
.fw5{
  font-weight: 500;
}
.fw6{
  font-weight: 600;
}

.ft18{
  font-size: 18px;
}
.ft17{
  font-size: 17px;
}
.ft16{
  font-size: 16px;
}
.ft14{
  font-size: 14px;
  margin-bottom: 10px;
}
.ft12{
  font-size: 12px;
}
.pd10{
  padding: 10px;
}
.center{
  text-align: center;
}
.tagnlf{
  text-align: left;
}
.tagnrt{
  text-align: right;
}
.closed{
  position: relative;
}
.closed::before,.closed::after{
  content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2px;
    height: 18px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: currentColor;
    border-radius: 4px;
}
.closed::after{
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* 暂无数据 */
.zwsj{
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
  color: #dcdde0;
}
.zwsj img{
  width: 160PX;
}
/* css */
html, body, #app {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.home {
  width: 100%;
  height: 100%;
  /* min-width: 1200px; */
  position: relative; }

.wrap {
  /* max-width: 1200px; */
  margin: 0 auto; }

.content {
  width: 100%;
  background: #F5F5F5;
  /* min-height: 100%; */
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
  bottom: 0;
}

.h100 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden; }
.h101{
  height: 100%;
}
.container .el-carousel__container, .acty_tp .el-carousel__container {
  height: 100% !important; }

.el-carousel {
  height: 100%; }

.el-input .el-input__inner {
  background: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0; 
  height: 100%;
  line-height: 100%;
}
.quest-input{
  border: 1px solid #DCDFE6;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.quest-input .el-input__inner{
  height: 100%;
  line-height: 100%;
  padding: 0 10px;
  margin-top: -4px;
}
.el-button{
  padding: 0;
  border:none;
  background: none;
  /* font-weight: normal; */
}
.search .el-input__inner{
  width: calc(100% - .8rem);
  position: absolute;
  top:0;
  bottom: 0;
}
.tinntay-cont{
  width: 100%;
  height: 100%;
  position: relative;
}
.r410{
  position: absolute;
  top: 20px;
  left: 0;
  right: 395px;
  bottom: 0;
}
.tin-right{
  background: #fff;
  -moz-box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  -moz-border-radius:7px;
  border-radius:7px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

/*testList*/
.testList{
  padding:24px 15px;
  /* padding-right: 10px; */
}
.testList .testList-hd{
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #010000;
  border-bottom: 1px solid #DCDFE6;
  padding-bottom: 15px;
  padding-left: 15px;
  position: relative;
}
.testList .testList-hd .delay{
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.testList .testList-hd .delay img{
  width: 16px;
  margin-right: 10px;
}

.testList .testList-hd .delay:hover{
  color: #999999;
  text-decoration: none;
}
.testList-hd .testList-hdline1{
  width: 5px;
  height: 18px;
  background: #1882FC;
  position: absolute;
  top: 0;
  left: 0;
}
.testList .testList-bd{
  padding-left:15px;
  font-size: 15px;
  font-weight: 400;
}
.testList .testList-bd .tb1{
  /* line-height: 20PX; */
  line-height: 30px;
  padding: 5PX 0;
}
.testList .testList-bd .tb1 .headimg{
  width: 100%;
  height: 100%;
}
.testList .testList-bd .tb1 .user-img{
  width: 100%;
  height: 100%;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.testList .testList-bd .gray{
  color: #606D80;
}
.testList .testList-bd .blak{
  color: #414B58;
}
.testList .testList-bd .zx1,.testList .testList-bd .zx2{
  color: #00CA41;
}
.testList .testList-bd .zx1 img,.testList .testList-bd .zx2 img{
  width: 17px;
  margin-top: -2px;
  margin-right: 5px;
}
.testList .testList-bd .zx2{
  color: #f00;
}
.testList .testList-bd .zx2 img{
  width: 16px;
}
.testList .testList-bd .exp,.recd6 .exp{
  position: relative;
}
.testList .testList-bd .exp:last-child .exp-line,.recd6 .exp:last-child .exp-line{
  display: none;
}
.testList .testList-bd .exp .exp1,.recd6 .exp .exp1{
  width:30PX;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}
.testList .testList-bd .exp .exp1 .exp-bd,.recd6 .exp .exp1 .exp-bd{
  width: 14PX;
  height:14PX;
  border-radius: 100%;
  background: #1882FC;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -7PX;
}
.testList .testList-bd .exp .exp1 .exp-line,.recd6 .exp .exp1 .exp-line{
  width: 2PX;
  background: #1882FC;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  margin-left: -1PX;
}
.testList .testList-bd .exp .exp2,.recd6 .exp .exp2{
  padding-left: 30PX;
  padding-bottom: 30PX;
}
.testList .testList-bd .exp .exp2 .exp-title,.recd6 .exp .exp2 .exp-title{
  line-height: 14PX;
  margin-bottom: 4PX;
  color: #202D40;
}

.testList .testList-bd .zwpj{
  /* padding-left: 30PX; */
  padding-bottom: 30PX;
  color: #111;
}
.testList .testList-bd .idPhoto img{
  width: 100%;
  /* margin-bottom: 10px; */
  -moz-border-radius: 4px;
  border-radius: 4px;
}
 
.testList .connact{
  margin-top: 30px;
}
.testList .connact .el-button{
  float: left;
  width: 154px;
  line-height: 36px;
  text-align: center;
  background: #1882fc;
  -moz-border-radius:18px;
  border-radius:18px;
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.testList .connact .el-button img{
  margin-right: 12px;
  margin-top:-3px;
}
.testList .connact .el-button .cnact1{
  width: 18px;
}
.testList .connact .cnact2{
  width: 14px;
}
/*testList*/

/* login */
.login_form .el-form-item{
  margin-bottom: 15px;
}
.login_form .el-form-item__content {
  /* height: 40px; */
  line-height: 40px; }

.login_item .el-form-item__content {
  height: auto;
  line-height: normal; }
.login_form  .el-input{
  padding: 5px 0;
}
.login_form .el-input__inner {
  width: 100%;
  /* height: 40px; */
  line-height: 40px;
  padding: 0 40px;
  font-size: 16px; 
  text-align: center;
}
.login_form .el-input__inner::-webkit-input-placeholder {
  color: #CCCCCC;
  font-size: 14px; }
.login_form .el-input__inner:-moz-placeholder {
  color: #CCCCCC;
  font-size: 14px; }
.login_form .el-input__inner::-moz-placeholder {
  color: #CCCCCC;
  font-size: 14px; }
.login_form .el-input__inner:-ms-input-placeholder {
  color: #CCCCCC;
  font-size: 14px; }

.login_form .el-icon-phone:before{
  content: "";
}
.login_form .el-icon-phone img{
  height: 23px;
}
.login_form .el-button{
  width: 100%;
  height: 50px;
  background:linear-gradient(93deg,rgba(108,147,254,1) 0%,rgba(61,152,253,1) 100%);
  -moz-border-radius:7px;
  border-radius:7px;
  border: none;
  font-size: 18px;
  color: #fff;
  -webkit-transition: none;
    transition: none;
}
.login_form .el-button:hover{
  border:none;
}
.lg-move{
  margin-top: 10px;
}
.lg-move .slider{
  background:rgba(255,255,255,1);
  -moz-box-shadow:0px 0px 12px 2px rgba(108,147,254,.35);
  box-shadow:0px 0px 12px 2px rgba(108,147,254,.35);
  -moz-border-radius:4px;
  border-radius:4px;
  border:none !important;
  color:#fff !important;
}
.lg-move .text{
  color: #B0D1FF !important;
}
.lg-move .background{
  background: rgba(61,152,253,1) !important;
}
/* menu */
.navMenu .el-menu{
  background: none !important;
}
.navMenu .el-menu::-webkit-scrollbar {
  width: 0;
  height: 0; }
.navMenu .el-menu .el-submenu{
  margin-bottom: 15px;
}
.navMenu .el-menu .el-submenu__title{
  /* width:200px; */
  margin: 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: #202E40;
  text-align: center;
  padding: 0 !important;
  /* text-indent: 30px; */
}

/*.navMenu .el-menu .el-submenu.is-opened .el-submenu__title{
  background:linear-gradient(73deg,rgba(0,102,255,1) 0%,rgba(40,126,255,1) 100%);
  box-shadow:0px 0px 8px 0px rgba(0,109,255,0.45);
  border-radius:28px;
  color:#fff;
}*/

.navMenu .el-menu .el-submenu:hover .el-submenu__title{
  background: rgba(255,255,255,0.1);
}
.navMenu .el-menu .el-submenu.is-opened .el-submenu__title{
  background:linear-gradient(73deg,rgba(0,102,255,1) 0%,rgba(40,126,255,1) 100%);
  box-shadow:0px 0px 8px 0px rgba(0,109,255,0.45);
  border-radius:28px;
  color:#fff;
}

.navMenu .el-menu .el-submenu.st0 .el-submenu__title,.navMenu .el-menu .el-submenu.is-opened.st0 .el-submenu__title{
  background:linear-gradient(73deg,rgba(0,102,255,1) 0%,rgba(40,126,255,1) 100%);
  box-shadow:0px 0px 8px 0px rgba(0,109,255,0.45);
  border-radius:28px;
  color:#fff;
  overflow: hidden;
}
.navMenu li.st0 .iconft0{
  /* background-position: -34PX 0; */
  background-image: url(../images/menu2.png);
}
.navMenu .el-menu .el-submenu.st0:hover .menu-bg{
  display: none;
}
.navMenu.on .el-menu .el-submenu.st0 .el-submenu__title{
  background:none;
  box-shadow:none;
  border-radius:0;
  color:#fff;
}
/*.navMenu .el-menu .el-submenu:hover .el-submenu__title::after{
  content: '';
  display:block;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  right:-20px;
  bottom:0;
  background: rgba(0,102,255,.04) !important;
  background: rgba(0,102,255);
  filter: Alpha(opacity=4);
  z-index: 100;
}*/
.menu-bg{
  display: none;
  position: absolute;
  top: 0;
  left: -20px;
  right:-20px;
  bottom:0;
  background: rgba(0,102,255,.04) !important;
  background: rgba(0,102,255);
  filter: Alpha(opacity=4);
}
.navMenu .el-menu .el-submenu__title:hover .menu-bg{
  display: block;
}
.navMenu .el-menu .el-submenu.is-opened .menu-bg{
  display: none;
}
.navMenu.on .el-menu .el-submenu.is-opened .menu-bg{
  display: block;
}
/* 白色 */
/* .navMenu .el-menu .el-submenu.is-opened .iconft0,.navMenu .el-menu .el-submenu__title:hover .iconft0{
  background-position: -34px 0;
} */
.navMenu .el-menu .el-submenu.is-opened .iconft0{
  /* background-position: -34PX 0; */
  background-image: url(../images/menu2.png);
}
.navMenu .el-menu .el-submenu.is-opened .iconft1{
  /* background-position: -34PX -34PX; */
  background-image: url(../images/menu5.png);
}
.navMenu .el-menu .el-submenu.is-opened .iconft2{
  /* background-position: -34PX -68PX; */
  background-image: url(../images/menu8.png);
}
.navMenu .el-menu .el-submenu.is-opened .iconft3{
  /* background-position: -34PX -102PX; */
  background-image: url(../images/menu11.png);
}
.navMenu .el-menu .el-submenu.is-opened .iconft4{
  /* background-position: -34PX -136PX; */
  background-image: url(../images/menu17.png);
}
.navMenu .el-menu .el-submenu.is-opened .iconft5{
  /* background-position: -34PX -170PX; */
  background-image: url(../images/menu14.png);
}
.navMenu .el-menu .el-submenu.is-opened .iconft6{
  /* background-position: -34PX -204PX; */
  background-image: url(../images/menu20.png);
}
.navMenu .el-menu .el-submenu.is-opened .iconft7{
  /* background-position: -34PX -238PX; */
  background-image: url(../images/menu23.png);
}
.navMenu .el-menu .el-submenu.is-opened .iconft8{
  /* background-position: -34PX -238PX; */
  background-image: url(../images/menu27.png);
}

.navMenu .el-menu .el-submenu__icon-arrow{
    display:none;
}
.el-submenu .el-menu-item{
  font-size: 18px;
  font-weight:400;
  color: #424C58;
  text-align: center;
}
.navMenu .el-menu-item:hover {
  background:linear-gradient(90deg,rgba(0,102,255,0.2) 0%,rgba(60,152,252,0.01) 100%);
  color:#0060FF;
} 
.navMenu .el-menu-item:focus{
  background: none;
}
.navMenu .el-menu-item.is-active,.el-menu--vertical .el-menu-item.is-active {
  background:linear-gradient(90deg,rgba(0,102,255,0.2) 0%,rgba(60,152,252,0.01) 100%);
  color:#0060FF;
  position: relative;
}
.navMenu .el-menu-item:hover .line-left, .el-menu-item.is-active .line-left,.el-menu--vertical .el-menu-item:hover .line-left{
  width:6px;
  background:linear-gradient(180deg,rgba(44,120,245,1) 0%,rgba(84,76,255,1) 100%);
  border-radius:3px;
  position: absolute;
  top: 2px;
  left: 0;
  bottom:2px;
}

.navMenu.on .el-submenu__title{
  width:auto;
  margin: 0;
}
.navMenu.on .el-menu .el-submenu.is-opened .el-submenu__title{
  background:none;
  box-shadow:none;
  border-radius:0;
  color:#fff;
}
.navMenu.on .el-menu .el-submenu__title:hover{
  background:none;
  color:#fff;
  border-radius:0;
}
.navMenu.on .el-menu .el-submenu__title{
  text-indent: 0;
}
.navMenu.on .iconft{
  position: static;
  margin-top: 0;
}

.navMenu.on .el-menu--collapse .el-submenu.is-active::before,.navMenu.on .el-menu--collapse .el-submenu:hover::before{
  content: '';
  display:block;
  width:6px;
  background:linear-gradient(180deg,rgba(44,120,245,1) 0%,rgba(84,76,255,1) 100%);
  border-radius:3px;
  position: absolute;
  top: 2px;
  left: 0;
  bottom:2px;
}
/* 蓝色二级hover一级黑色 */
.navMenu.on .el-menu .el-submenu.is-opened .iconft0{
  /* background-position: 0 0; */
  background-image: url(../images/menu1.png);
}
.navMenu.on .el-menu .el-submenu.is-opened .iconft1{
  /* background-position: 0 -34PX; */
  background-image: url(../images/menu4.png);
}
.navMenu.on .el-menu .el-submenu.is-opened .iconft2{
  /* background-position: 0 -68PX; */
  background-image: url(../images/menu7.png);
}
.navMenu.on .el-menu .el-submenu.is-opened .iconft3{
  /* background-position: 0 -102PX; */
  background-image: url(../images/menu10.png);
}
.navMenu.on .el-menu .el-submenu.is-opened .iconft4{
  /* background-position: 0 -136PX; */
  background-image: url(../images/menu13.png);
}
.navMenu.on .el-menu .el-submenu.is-opened .iconft5{
  /* background-position: 0 -170PX; */
  background-image: url(../images/menu16.png);
}
.navMenu.on .el-menu .el-submenu.is-opened .iconft6{
  /* background-position: 0 -204PX; */
  background-image: url(../images/menu19.png);
}
.navMenu.on .el-menu .el-submenu.is-opened .iconft7{
  /* background-position: 0 -238PX; */
  background-image: url(../images/menu22.png);
}
/* 蓝色 */
.navMenu.on .el-menu--collapse .el-submenu.is-active .iconft0,.navMenu.on .el-menu--collapse .el-submenu__title:hover .iconft0{
  /* background-position: -68PX 0; */
  background-image: url(../images/menu3.png);
}
.navMenu.on .el-menu--collapse .el-submenu.is-active .iconft1,.navMenu.on .el-menu--collapse .el-submenu__title:hover .iconft1{
  /* background-position: -68PX -34PX; */
  background-image: url(../images/menu6.png);
}
.navMenu.on .el-menu--collapse .el-submenu.is-active .iconft2,.navMenu.on .el-menu--collapse .el-submenu__title:hover .iconft2{
  /* background-position: -68PX -68PX; */
  background-image: url(../images/menu9.png);
}
.navMenu.on .el-menu--collapse .el-submenu.is-active .iconft3,.navMenu.on .el-menu--collapse .el-submenu__title:hover .iconft3{
  /* background-position: -68PX -102PX; */
  background-image: url(../images/menu12.png);
}
.navMenu.on .el-menu--collapse .el-submenu.is-active .iconft4,.navMenu.on .el-menu--collapse .el-submenu__title:hover .iconft4{
  /* background-position: -68PX -136PX; */
  background-image: url(../images/menu15.png);
}
.navMenu.on .el-menu--collapse .el-submenu.is-active .iconft5,.navMenu.on .el-menu--collapse .el-submenu__title:hover .iconft5{
  /* background-position: -68PX -170PX; */
  background-image: url(../images/menu18.png);
}
.navMenu.on .el-menu--collapse .el-submenu.is-active .iconft6,.navMenu.on .el-menu--collapse .el-submenu__title:hover .iconft6{
  /* background-position: -68PX -204PX; */
  background-image: url(../images/menu21.png);
}
.navMenu.on .el-menu--collapse .el-submenu.is-active .iconft7,.navMenu.on .el-menu--collapse .el-submenu__title:hover .iconft7{
  /* background-position: -68PX -238PX; */
  background-image: url(../images/menu24.png);
}


.el-menu--vertical  .el-menu-item-group{
  min-width: 200px;
  padding-top: 6px;
}
.el-menu--vertical .el-menu--popup{
  min-width: auto;
  box-shadow:0px 5px 16px 0px rgba(44,120,245,.3);
  border-radius:6px;
}
.el-menu-item-group__title{
  font-size:18px;
  font-family:PingFang SC;
  font-weight:600;
  color:rgba(0,0,0,1);
  line-height:24px;
  display: none;
}
.el-menu--vertical .el-menu-item-group__title{
  display: block;
}
.el-menu--vertical .el-menu-item{
  font-size: 16px;
  font-family:PingFang SC;
  font-weight:400;
  color:rgba(0,0,0,1);
  /* text-align: center; */
  text-indent: 30px;
}


.navMenu .el-menu-item.shy{
  padding-left: 0;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: center;
  padding: 0 !important;
  text-indent: 30px;
  margin-bottom: 15px;
}
.navMenu .el-menu-item.shy .iconft{
  left: 52px;
}
.navMenu .el-menu-item.shy:hover{
  background: rgba(0,102,255,.04) !important;
  background: rgba(0,102,255);
  filter: Alpha(opacity=4);
}
.navMenu .el-menu-item.shy .line-left{
  display: none;
  width:6px;
  background:linear-gradient(180deg,rgba(44,120,245,1) 0%,rgba(84,76,255,1) 100%);
  border-radius:3px;
  position: absolute;
  top: 2px;
  left: 0;
  bottom:2px;
}
.navMenu .el-menu-item.shy:hover .line-left{
  display: none;
}
.navMenu.on .el-menu-item.shy:hover .line-left{
  display: block;
}
.navMenu .el-menu-item.shy:focus{
  background: none;
}
.navMenu .el-menu-item.shy.on .shy-cont{
  margin: 0 20px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-indent: 30px;
  background: linear-gradient(73deg,rgba(0,102,255,1) 0%,rgba(40,126,255,1) 100%);
  box-shadow: 0px 0px 8px 0px rgba(0,109,255,0.45);
  border-radius: 28px;
  color: #fff;
}
.navMenu .el-menu-item.shy .iconft0{
  background-position:  0 0;
}
.navMenu .el-menu-item.shy.on .iconft0{
  background-position: -34PX 0;
}
.navMenu.on .el-menu-item.shy{
  text-indent: 0;
}
.navMenu.on .el-menu-item.shy.on .shy-cont{
  background: none;
  margin: 0;
  box-shadow:none;
  text-indent: 0;
}
.navMenu.on .el-menu-item.shy.on .iconft0{
  background-position:  -68PX 0;
}
.navMenu.on .el-menu-item.shy:hover .iconft0{
  background-position:  -68PX 0;
}
.navMenu.on .el-menu-item.shy.on .line-left{
  display: block;
}

.navMenu.on li.st0::before{
  content: '';
  display:block;
  width:6px;
  background:linear-gradient(180deg,rgba(44,120,245,1) 0%,rgba(84,76,255,1) 100%);
  border-radius:3px;
  position: absolute;
  top: 2px;
  left: 0;
  bottom:2px;
}
.navMenu.on li.st0 .iconft0{
  /* background-position:  -68PX 0; */
  background-image: url(../images/menu3.png);
}
/* talent */
.talentAudit .el-tabs{
  height: 100%;
}
.talentAudit .talent-cont{
  height: calc(100% - 50px);
}
.talentAudit .el-tabs .el-tabs__content{
  height: calc(100% - 66px);
}
.talentAudit .el-tab-pane{
  height: calc(100% - 70px);
}

.talent-title{
  height:26px;
  font-size:28px;
  font-family:PingFang SC;
  font-weight:600;
  color:rgba(42,53,74,1);
  line-height:24px;
  margin-bottom: 20px;
}
/* .el-tabs{} */
.el-tabs .el-tabs__header{
  border-bottom: none;
  margin: 0;
}
.el-tabs .el-tabs__header .el-tabs__nav-wrap{
  margin-bottom: 0;
}
.el-tabs .el-tabs__header .el-tabs__nav{
  border:none;
}
.el-tabs .el-tabs__header .el-tabs__nav .el-tabs__item{
  width: 140px;
  height: 64px;
  line-height: 64px;
  background: #E4E4E4;
  border:0 !important;
  padding:0 !important;
  text-align: center;
  margin-right: 5px;
  font-size:18px;
  font-family:PingFang SC;
  font-weight:400;
  color: #999;
  -moz-border-top-left-radius: 7px;
  -moz-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transition: none;
  transition: none;
}
.el-tabs .el-tabs__header .el-tabs__nav .el-tabs__item.is-active{
  background: #fff;
  color: #000;
}
.el-tabs .el-tabs__header .el-tabs__nav .el-tabs__item.is-active::before{
  content: '';
  display: block;
  height: 4px;
  background: #0066FF;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.el-tabs .el-tabs__content{
  background: #fff;
  -moz-box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  -moz-border-radius:0px 7px 7px 7px;
  border-radius:0px 7px 7px 7px;
  padding: 30px 15px;
}
.el-tabs.on .el-tabs__content{
  padding-top: 15px;
}
.tablent-md{
  margin-bottom: 16px;
  height: 44px;
}
.tablent-search{
  width: 370px;
  height:44px;
  line-height: 44px;
  position: relative;
  float: left;
}
.tablent-search .el-input{
  padding-left: 15px;
  padding-right: 59px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.tablent-search .el-input__inner{
  height:44px;
  line-height: 44px;
  font-size: 16px;
  color:#000;
  position: absolute;
  top: 0;
  left: 15px;
  right: 0;
  bottom: 0;
  padding-right: 69px;
}
.tablent-search .talent-btn{
  width: 44px;
  height: 44px;
  background: #1882FC;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 100;
  text-align: center;
  -moz-border-radius:5px;
  border-radius:5px;
}
.tablent-search .talent-btn img{
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -11px;
}
.tablent-md .tablent-menu{
  float: right;
  line-height: 44px;
}
.tablent-md .tablent-menu .el-button{
  width: 90px;
  height: 38px;
  line-height: 38px;
  background: #F29C9F;
  color:#fff;
}
.tablent-md .tablent-menu .el-button img{
  height: 18px;
}
.tablent-md .tablent-menu .bt2{
  background: #89C997;
}
.tablent-md .tablent-menu .bt3{
  background: #7ECEF4;
}
.tablent-md .tablent-menu .bt1:hover{
  background:rgba(242,156,159,.8);
}
.tablent-md .tablent-menu .bt2:hover{
  background:rgba(137,201,151,.8);
}
.tablent-md .tablent-menu .bt3:hover{
  background:rgba(126,206,244,.8);
}
.tablent-md .tablent-menu .el-button img{
  margin-right: 10px;
  margin-top: -2px;
}
/* table */
.el-table{
  font-size: 16px;
  font-weight: 400;
}
.el-table thead tr,.el-table thead th{
  background: #F8F8F9;
  /* line-height: 40PX; */
  font-size: 17px;
  font-weight: 600;
  color: #202D40;
}
.el-table tr.f7{
  background: #F8F8F9;
}
.el-table th,.el-table td{
  /* line-height: 40PX; */
  color: #606D80;
  text-align: center;
  padding: 12PX 0;
}
.el-table .cell{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.el-table .dsh{
  color: #FF9900;
}
.el-table .dtcc{
  color: #666666;
}
.el-table .onduty{
  color: #1982FC;
}
.el-table .suspend{
  color: #B0B0B0;
}
.el-table .blacklist{
  color: #FF0101;
}
.el-tag{
  background: none;
  border:none;
  color: #111;
}
.el-table th>.cell.highlight{
  color: #111;
}
.el-table tbody tr:hover>td {
  background: rgba(245, 249, 255, 0.6) !important;
}
.el-table .el-table__body tr.current-row>td{
  background: rgba(245, 249, 255, 0.6) !important;
}
.tablent-content .bold{
  color: #202D40;
  font-weight: 400;
  display: inline-block;
  white-space: break-spaces;
  white-space: pre-wrap;
}
.tablent-content .green{
  font-size: 18px;
  color: #1EDB53;
  font-weight: 400;
}
.tablent-content .orange{
  font-size: 18px;
  color: #FF9900;
  font-weight: 400;
}
.tablent-content .red{
  font-size: 18px;
  color: #f00;
  font-weight: 400;
}
.el-popper[x-placement^=right]{
  width: auto !important;
  margin-left: -14px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  -moz-box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.15) !important;
  box-shadow:0px 0px 14px 0px rgba(0, 0, 0, 0.15) !important;
  -moz-border-radius:7px !important;
  border-radius:7px !important;
}
/* tiku */
.txing .el-radio-button__inner{
  padding:4.8px 20px !important;
  border:none;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}
.txing .el-radio-button__inner:hover{
  background: #1882FC;
  color: #fff;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.txing .el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background: #1882FC;
  color: #fff;
}
.txing .el-radio-button:first-child .el-radio-button__inner{
  /* background: #1882FC; */
  border:none;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.txing .el-radio-button:last-child .el-radio-button__inner{
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.edit-btn,.delete-btn{
  width:36px;
  height:36px;
  background: #edf5ff;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  text-align: center;
  margin-left: 0 !important;
}
.edit-btn{
  margin-right: 10px;
}
.edit-btn img,.delete-btn img {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}
.edit-btn .editimg2,.delete-btn .deletimg2{
  display: none;
}
.edit-btn:hover,.delete-btn:hover{
  background: #1882fc;
}
.edit-btn:hover .editimg1,.delete-btn:hover .deletimg1{
  display: none;
}
.edit-btn:hover .editimg2,.delete-btn:hover .deletimg2{
  display: inline-block;
}
.edit-btn:visited{
  background: #1882fc;
}
.el-dialog--center{
  -moz-box-shadow:0px 0px 40px 0px rgba(76,158,252,0.4);
  box-shadow:0px 0px 40px 0px rgba(76,158,252,0.4);
  -moz-border-radius:7px;
  border-radius:7px;
}
.addDialog .el-dialog__header{
  height: 54px;
  line-height: 54px;
  /* background: #0077FF; */
  padding: 0 24px !important;
  text-align: left;
  -moz-border-radius:7px 7px 0 0;
  border-radius:7px 7px 0 0;
  border-bottom: 1px solid #EEF1F4 !important;
  
}
.addDialog .el-dialog__title{
  display: block;
  line-height: 54px;
  /* color:#fff; */
  color:#202D40 !important;
  font-size: 20px;
  font-weight: 600;
}
.addDialog .el-dialog__headerbtn{
  top:0;
}
.addDialog .el-dialog__headerbtn .el-dialog__close{
  color: #fff;
  font-size: 24px;
}
.addDialog .el-icon-close:before{
  color: #E2E2E2 !important;
}
.addDialog .el-dialog--center .el-dialog__body{
  padding: 15px 22px 30px;
}

.addDialog .el-dialog__footer{
  display: none;
}
.el-form-item__content{
  font-size: 16px;
  color: #33383F;
}

/* .adform-list{} */
.adform-list .el-form-item{
  line-height: 40px;
  margin-bottom: 15px;
}
.adform-list .el-form-item .el-form-item__label{
  text-align: left;
  width: 70PX !important;
  font-size: 16px;
  /* color: #000; */
  color: #33383F;
  font-weight: 400;
}
.adform-list .el-form-item__content{
  margin-left: 70PX !important;
}
.adform-list .el-radio-button{
  border:none;
  box-shadow: none;
  margin-right: 40px;
  font-size: 16px;
}
.adform-list .el-radio-button .el-radio-button__inner{
  background:rgba(255,255,255,1);
  border:1px solid rgba(234,234,234,1);
}
.adform-list .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    color: #FFF;
    box-shadow: none;
    background:rgba(24,130,252,1);
    border-radius:4px;
}
 .adform-list .el-select{
  min-width: 208px;
 }
 .adform-list .el-select .el-input .el-input__inner{
  font-size: 16px;
  text-align: center;
  color: #000;
  margin-top: -4px;
 }
.el-select-dropdown .el-select-dropdown__item{
  text-align: center;
}

.adform-list .adform-item .el-radio-button{
  margin-right: 10px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
.adform-list .adform-item .el-radio-button__inner{
  padding: 7px 20px;
}
.adform-list .adform-item .iptChange{
  max-width: 100px;
  padding: 4px 20px;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(234,234,234,1);
  font-size: 16px;
  color: #999999;
  margin-right: 10px;
}
.adform-list .btn-add{
  padding: 5px 20px;
  background: rgba(255,255,255,1);
  border: 1px dashed rgba(234,234,234,1);
  font-size: 16px;
  color: #999999;
  margin-top: -7PX;
}
.adform-list .btn-add:focus, .adform-list .btn-add:hover {
    color: #000;
}
/* .adform-list .addtest{} */
.adform-list .addtest span{
  display: block;
  float: left;
  width: 30px;
  font-size: 14px;
}
.adform-list .addtest .el-input{
  float: right;
  width: calc(100% - 40px);
  height: 40px;
}
.adform-list .btn-add2{
  float: right;
  width: calc(100% - 40px);
  height: 40px;
  background: rgba(255,255,255,1);
  border: 1px dashed rgba(234,234,234,1);
  font-size: 16px;
  color: #999999;
}
.adform-list .btn-add2:focus, .adform-list .btn-add2:hover {
    color: #000;
}

.adform-list .testansw .el-radio-button{
  margin-right: 10px;
  margin-bottom: 10px;
}
.adform-list .testansw .el-checkbox-button{
  margin-right: 10px;
  margin-bottom: 10px;
}
.adform-list .testansw .el-checkbox-button .el-checkbox-button__inner{
  border: 0.01rem solid rgba(234,234,234,1);
  box-shadow: none;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.aform-footer{
  padding: 0 22px 20px;
  text-align: center;
}
.aform-footer .el-button{
  width: 100px;
  background:#ccc;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  /* padding: 0 30px; */
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.aform-footer .el-button:last-child{
  background:#1882FC;
  margin-left: 27px !important;
}
.aform-footer .el-form-item__content{
  margin-left: 0
}

.addDialog.on .el-dialog{
  width: 400px;
}
.addDialog.on .el-dialog__header{
  background: none;
}
.addDialog.on .el-dialog__title{
  color: #515458;
}
.addDialog.on .el-dialog__header .el-icon-close:before {
  color: #8A8D94;
}

.addDialog.on .el-input{
  width: 100%;
}
.addDialog.on .el-form-item__label{
  width: 44PX !important;
}
.addDialog.on .el-form-item__content {
  margin-left: 44PX !important;
}
.addDialog.on .adform-list .el-select{
  min-width: auto;
  /* width: 240px; */
  width: 100%;
}
.addDialog.on .adform-list .el-select.sel{
  width: 100%;
}
.addDialog.on .el-input.total-ipt{
  width: 240px;
  margin-right: 5px;
}
.addDialog.on .aform-footer .el-form-item__content{
  margin-left: 0 !important;
}

.addDialog.on .el-dialog--center .el-dialog__body{
  padding: 15px 0 10px;
}
.addDialog.on .adform-list .el-form-item{
  padding: 0 34px;
}
.addDialog.on .aform-footer .el-form-item__content {
  text-align: right;
}

.red{
  color: #FF0000;
}

.total{
  position: relative;
}
.total .el-row .el-col-20{
  width: 58PX;
  /* position: absolute;
  top: 0;
  left: -64PX; */
  text-align: right;
  margin-left: -64PX;
}
.total .el-row .el-col-40{
  width: 200px;
  margin-right: 10px;
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	/* width: 20%;               For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.total .el-input.total-ipt .el-input__inner{
  text-align: right;
}
.total .red{
  margin: 0 10px;
}
.total .el-col-14{
  width: 200px;
  margin-right: 10px;
  -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	/* width: 20%;               For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.total .el-col-10{
  width: 100px;
  font-size: 16px;
  padding-left: 0 !important;
}

.mItem .el-radio-group{
  width: 240px;;
}
.mItem .el-radio-group .el-radio-button:last-child{
  float: right;
  margin-right: 0;
}
/* tablelist */
.testList-row .el-radio__input.is-disabled+span.el-radio__label {
  color: #111 !important;
  cursor: text !important;
  white-space: normal;
  line-height: .3rem;
}
.testList-row .el-radio__input.is-checked+.el-radio__label{
  color: #111 !important;
}

.testList-row .el-radio__input.is-disabled .el-radio__inner,
.testList-row .el-radio__input.is-disabled.is-checked .el-radio__inner{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.testList-row .el-radio__input.is-disabled .el-radio__inner::after{
  display: none;
}
.testList-row .el-radio__input.is-disabled .el-radio__inner::before{
  content: '';
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(-45deg);
  -ms-transform: translate(-50%,-50%)  rotate(-45deg);
  transform: translate(-50%,-50%) rotate(-45deg);
  width: 12px;
  height: 6px;
  border: 1px solid #fff;
  border-width: 0 0 2px 2px;
}
.testList-row.on .el-radio__input.is-disabled .el-radio__inner::before{
  display: inline-block;
}
.testList-row.on .el-radio__input.is-disabled .el-radio__inner{
  background: #00CA41 !important;
}

/* page */
.page{
  margin: 20px 0;
  text-align: center;
}
.el-pagination{
  color:#9A9A9A;
  white-space: inherit;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  background: none;
  color: #9A9A9A;
  border:1px solid rgba(217,217,217,1);
  -moz-border-radius:6px;
  border-radius:6px;
  height: 36px;
  line-height: 36px;
  margin: 0 6px;
  font-weight: 400;
}
.el-pagination button, .el-pagination span:not([class*=suffix]) {
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  font-size: 16px;
}
.el-pagination span{
  font-size: 16px;
}
.el-pager li{
  width: 36px;
  height: 36px;
  line-height: 36px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color:#1882FC;
}
.el-pagination.is-background .el-pager li:hover {
  color: #1882FC;
  border-color: #1882FC;
}
.el-pagination__editor.el-input{
  width: 50px;
  height: 36px;
  line-height: 36px;
  /* border:1px solid #d9d9d9; */
  font-size: 16px;
  margin: 0 10px;
  padding: 0;
}
.el-pagination__jump{
  color: #9A9A9A;
}
.el-pagination__editor.el-input .el-input__inner{
  height: 36px;
  line-height: 36px;
  border:1px solid #d9d9d9;
  color: #9A9A9A;
}
.el-pagination.is-background .btn-next:hover, .el-pagination.is-background .btn-prev:hover{
  color: #1882FC;
  border-color: #1882FC;
}

/* 待测评 */
.btn-train,.btn-start,.btn-test{
  font-size: 16px;
  font-weight: 400;
  color: #1882FC;
  border: 1px solid rgba(24,130,252,1);
  border-radius: 14px;
  padding: 5px 12px;
}
.btn-train:focus{
  border: 1px solid rgba(24,130,252,1);
  background: #fff;
  color: #1882FC;
}
.btn-train:hover{
  border: 1px solid rgba(24,130,252,1);
  background: #1882FC;
  color: #fff;
}
.btn-start,.btn-test{
  border: 1px solid #1882FC;
  background: #1882FC;
  color: #fff;
}
.btn-start:focus,.btn-start:hover{
  border: 1px solid #1882FC;
  background: #1882FC;
  color: #fff;
}
.btn-test{
  border: 1px solid #999999;
  background: #999999;
}
.btn-test:focus,.btn-test:hover{
  border: 1px solid #999999;
  background: #999999;
  color: #fff;
}
.talentAudit .el-tabs.tscore-hd .el-tabs__content{
  height: auto;
}
.talentAudit .tscore-hd .el-tab-pane{
  height: auto;
}
.el-tabs.tscore-hd{
  margin-top: -8px;
}
.el-tabs.tscore-hd .el-tabs__header .el-tabs__nav{
  border:none;
}
.el-tabs.tscore-hd .el-tabs__header .el-tabs__nav .el-tabs__item{
  width: auto;
  height: auto;
  line-height: 24px;
  background:none;
  font-size:16px;
  font-weight:400;
  color: #999;
  margin-right: 10px;
}
.el-tabs.tscore-hd .el-tabs__header .el-tabs__nav .el-tabs__item.is-active{
  background: #fff;
  color: #111;
  font-size:18px;
  font-weight:600;
}
.el-tabs.tscore-hd .el-tabs__header .el-tabs__nav .el-tabs__item.is-active::before{
  height: 4PX;
  background:rgba(24,130,252,.8);
  border-radius: 0;
  top: auto;
  bottom: 0;
}
.el-tabs.tscore-hd .el-tabs__active-bar{
  display: none;
}
.el-tabs.tscore-hd .el-tabs__content{
  background: #fff;
  -moz-box-shadow:none;
  box-shadow:none;
  -moz-border-radius:0;
  border-radius:0;
  padding: 10px 0 10px 15px;
}
.el-tabs.tscore-hd .el-row {
  
  margin-bottom: 15px;
}
.el-tabs.tscore-hd .bold1{
  font-size: 18px;
  color: #121212;
  font-weight: 600;
}
.el-tabs.tscore-hd .green{
  font-size: 18px;
  color: #1EDB53;
  font-weight: 600;
}
.el-tabs.tscore-hd .red{
  font-size: 18px;
  color: #f00;
  font-weight: 600;
}
.el-tabs.tscore-hd .brown{
  font-size: 18px;
  color: #FF9A00;
  font-weight: 600;
}
.el-tabs.tscore-hd .look{
  font-size: 14px;
  font-weight: 400;
  color: #FF9A00;
  border:1px solid #FF9A00;
  border-radius: 10px;
  padding: 2px 8px;
}
.el-tabs.tscore-hd .look:focus,.el-tabs.tscore-hd .look:hover{
  background: none;
}
.tping{
  margin-top: 100px;
}
.tping-hd{
  font-size: 16px;
  font-weight: 400;
}
.tping-hd .el-col-8{
  color: #999;
}
.tping-hd .el-col-16{
  color: #111;
}
.tping-hd .el-col-16 .el-row{
  margin-bottom: 10px;
}
.tping-bd{
  height: 36px;
  line-height: 36px;
  background: #999;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #FFFEFE;
  text-align: center;
  cursor: pointer;
  margin: 0 0 10px;
}
.tping-bd.on{
  background: #1882FC;
  color: #fff;
}
.tping-cl{
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
  text-align: center;
  cursor: pointer;
}
.addDialog.active .el-dialog--center .el-dialog__body {
  padding: 0.15rem 0 0.3rem;
}
.ltest-score-bd .el-radio-button .el-radio-button__inner{
  border:0 !important;
  background: #F5F5F5;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ltest-score-bd .el-radio-button .el-radio-button__inner:hover{
  color: #000;
}
.ltest-score-bd .el-radio-button:first-child .el-radio-button__inner{
  border:0 !important
}
.ltest-score-bd .el-radio-button__orig-radio:checked{
  background: #1882FC;
  color: #fff;
  box-shadow: none;
}
.ltest-score-bd .el-radio-button.is-active .el-radio-button__inner{
  background: #1882FC;
  color: #fff;
}
/* 入档案 */
.record{
  padding: 0 15px 0 24px;
}
.record .el-form-item{
  margin-bottom: 0;
}
.record .el-form-item__label{
  /* width: 80PX; */
  width: 80px;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  text-align: left;
  padding: 0;
}
.bak1{
  display: block;
  /* padding-left: 87PX; */
  padding-left: 87px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.record-item .el-form-item__label,.record-item .el-form-item__content{
  line-height: 30px;
}
.record-item .el-form-item__label{
  font-size: 14px;
  color: #999;
  text-align: right;
  /* padding-right: 7PX; */
}
.record .el-checkbox-group{
  padding-left: 60PX;
  /* padding-top: 3px; */
}
.record .el-checkbox-group .el-checkbox{
  border:1px solid rgba(230,230,230,1);
  -moz-border-radius:6px;
  border-radius:6px;
  font-weight: 400;
  color: #999;
  line-height: normal;
  margin-right: 10px;
}
.record .el-checkbox-group .el-checkbox .el-checkbox__input{
  opacity: 0;
  width: 0;
}
.record .el-checkbox-group .el-checkbox .el-checkbox__label{
  padding:5px;
}
.record .el-checkbox-group .el-checkbox.is-checked,
.record .el-checkbox-group .el-checkbox.is-checked .el-checkbox__label,
.record .el-checkbox-group .el-checkbox:hover{
  background: #1882FC;
  color: #fff;
  -moz-border-radius:6px;
  border-radius:6px;
}
.record .work{
  /* padding-left: 87PX; */
  padding-left: 87px;
}
.record .work .el-col-6{
  line-height: 30px;
  border:1px solid rgba(230,230,230,1);
  border-radius:6px;
}
.record .work .el-col-6 .el-date-editor.el-input,
.record .work .el-col-6 .el-date-editor .el-input__inner{
  width: 100%;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.record .work .el-col-6 .el-input__prefix{
  display: none;
}
.record .work .el-col-2,.record .work .el-col-3{
  line-height: 30px;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-align: center;
  margin-top: 4px;
}
.record .work .el-col-3 .el-button img{ 
  width: 17px;
  height: 17px;
}
.record .work .el-col-14{
  margin-bottom: 10px;
}
.record .work .el-col-14 .el-input{
  padding: 0 15px;
}
.record .work .el-col-14 .el-date-editor{
  width: 100% !important;
  cursor: pointer;
  padding: 0 15px;
}
.record .work .el-col-14 .el-date-editor .el-range__icon{
  display: none;
}
.record .work .el-col-14 .el-date-editor .el-range-input{
  cursor: pointer;
  text-align: left;
}
.record .work .el-col-14 .el-date-editor .el-range-separator{
  width: 10%;
  margin-right: .2rem;
}
.record .work .el-col-24{
  /* margin-top: 10px; */
  margin-bottom: 10px;
}
/* .record .work .addexp{} */
.record .work .addexp .el-button{
  width: 100%;
  height: 36px;
  line-height: 36px;
  border: 1px dashed #9B9B9B;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.record .work .addexp .el-button:focus,.record .work .addexp .el-button:hover{
  background: none;
}
.record .work .addexp .el-button img{
  width: 17px;
  margin-right: 5px;
  margin-top: -2px;
}
/* upload */
/* .ldimg{} */
.ldimg-hd{
  margin-bottom: 10px;
  padding-left: 15px;
}
.record .ldimg .el-form-item__label{
  width: 100PX;
}
.avatar-uploader{
  border:1px dashed rgba(71,156,255,1);
  -moz-border-radius:7px;
  border-radius:7px;
}
.avatar-uploader.on{
  border:none;
  border-radius: 0;
}
.el-upload{
  width: 100%;
}
.el-icon-plus{
 line-height: 20px;
 padding: 40px;
 font-size: 13px;
 color: #DBDBDB;
}
.el-icon-plus:before{
  content:''
}
.el-icon-plus img{
  width: 34px;
  margin-bottom: 5px;
}
.avatar{
  -moz-border-radius:7px;
  border-radius:7px;
}
/* 人才总表 */
.work-area{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.work-area .el-button{
  padding: 6px 20px;
  border: 1px solid #1882FC;
  -moz-border-radius:5px;
  border-radius:5px;
  color: #1882FC;
}
.work-area .el-button:hover,.work-area .el-button:focus{
  background:none;
}
/*人才总表 筛选 */
.shai{
  line-height: 40px;
  margin-bottom: 11px;
}
.shai .el-col-8{
  color: #202D40;
}
.sel{
  position: relative;
}
.sel .el-cascader .el-cascader__tags span{
  color: #202D40;
  font-size: 14px;
}
.sel .el-col-10,.sel .el-col-2{
  text-align: center;
}
.sel-hd{
  display: none;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 10000;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
}
.sel.on .sel-hd{
  display: block;
}
.sel-hd .el-col-12 .el-row,.sel-hd .el-col-10 .el-row{
  padding-left: 11px;
  cursor: pointer;
}
.sel-hd .el-col-12 .el-row.on,.sel-hd .el-col-10 .el-row.on{
  /* background-color: #F5F7FA; */
  color: #409EFF;
  font-weight: 700;
}
.sel .trg{
  width: 100%;
  text-align: right;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  cursor: pointer;
}
.trg::before{
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-left: 1px solid rgb(204,198,204);
  border-bottom: 1px solid rgb(204,198,204);
  position: absolute;
  right: 14px;
  top: 50%;
  -webkit-transform: translate(0,-70%) rotate(-45deg);
  -ms-transform: translate(0,-70%)  rotate(-45deg);
  transform: translate(0,-70%) rotate(-45deg);
  cursor: pointer;
}
.sel.on .trg::before{
  transition: transform .3s;
  -webkit-transform: translate(0,-20%) rotate(-225deg);
  -ms-transform: translate(0,-20%)  rotate(-225deg);
  transform: translate(0,-20%) rotate(-225deg);
}
.shai .el-select{
  width: 100%;
}
.shai .el-select input{
  text-align: center;
  font-size: 14px;
}
.selMultple .el-select .el-tag{
  background: none;
}
/* .selMultple .el-tag__close{
   display: none; 
} */
.selMultple .el-tag.el-tag--info{
  font-size: 14px;
  color: #8592A6;
}
.selanimal{
  padding-left: 12PX;
}
.selanimal .el-checkbox-button{
  margin-right: 1%;
  margin-bottom: 1%;
  width: 15.8333333%;
}
.selanimal .el-checkbox-button:nth-of-type(6n){
  margin-right: 0;
}
.selanimal .el-checkbox-button__inner{
  width: 100%;
  border:1px solid #EAEAEA !important;
  border-radius: 5px !important;
  font-size: 14px;
  color: #202D40;
  padding: 8px 0 !important;
}
.selanimal .el-checkbox-button.is-checked .el-checkbox-button__inner {
  color: #FFF;
  background-color: #1882FC;
  box-shadow: none;
}
.selanimal.on .el-checkbox-button{
  margin-right: 1%;
  margin-bottom: 1%;
  width: 24.25%;
}
.selanimal.on .el-checkbox-button:nth-of-type(4n){
  margin-right: 0;
}
/* .el-slider__runway,.el-slider__bar{
  height: 2px;
}
.el-slider__button-wrapper{
  top: -17px;
} 
.el-slider__button{
  border:none;
  background: #1882FC;
} */
/* 题库prompt */
/* .el-message-box{} */
.el-message-box .el-input{
  height: 30PX;
  line-height: 30PX;
}
.el-message-box .el-input .el-input__inner{
  border: 1px solid #DCDFE6;
  line-height: 30PX;
  padding: 0 10px;
}
.el-message-box__btns{
  text-align: center;
  margin-bottom: 10px;
}
.el-message-box__btns .el-button{
  background: #1882FC;
  background: #ccc;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  font-size: 16px;
  color: #fff;
}
.el-message-box__btns .el-button:last-child {
  background: #1882FC;
}
/* Collapse 折叠面板 */
.el-collapse{
  border:none;
}
.el-collapse-item__header{
  font-size: 16px;
  color: #111;
  font-weight: 600;
  /* margin-left: -10PX; */
  border-bottom:none;
}
.el-collapse-item__header:hover,.el-collapse-item__header:focus,.el-collapse-item__header:visited{
  color: #111;
}
.el-collapse-item__wrap{
  border-bottom:none
}
.el-collapse-item__content{
  padding-bottom: 0;
  font-size: 15px;
}
.el-collapse-item__header .el-icon-arrow-right{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.el-collapse-item__header .el-icon-arrow-right:before {
  color: #111;
  font-weight: bold;
}
.el-collapse-item__arrow.is-active {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* 题库修改 */
.addDialog.hd .el-dialog__header{
  background: none;
}
.addDialog.hd .el-dialog__title{
  color: #515458;
}
.addDialog.hd .el-dialog__header .el-icon-close:before {
  color: #8A8D94;
}
.addDialog.hd .el-dialog--center .el-dialog__body {
  padding: 15px 30px 10px;
}
.addDialog.hd .el-dialog--center{
  width: 700px;
}
.addDialog.hd .adform-list .el-select{
  width: 100%;
}
.addDialog.hd .aform-footer{
  padding-right: 0;
  padding-bottom: 0;
}
.addDialog.hd .aform-footer .el-form-item__content{
  text-align: right;
}
.addDialog.hd .adform-list .el-form-item .el-form-item__label{
  /* width: 90PX !important; */
  width: 90px !important;
  padding-right: 0;
}
.addDialog.hd .adform-list .el-form-item__content {
  /* margin-left: 90PX !important; */
  margin-left: 90px !important;
}

.ra{
  display: inline-block;
}

.el-radio-button__orig-radio,.el-checkbox-button__original{
	width:0;
}
/* header */
.header-right .header-user  .super{
  cursor: pointer;
}
.header-right .header-user .el-dropdown{
  font-size: 16px !important;
}
.el-dropdown-menu{
  margin-top: -.12rem !important;
}
.el-dropdown-menu__item{
  font-size: 16px;
  padding: 0 !important;
}
.el-dropdown-menu__item:hover{
  background:rgba(245,249,255,.6) !important;
}
.el-dropdown-menu__item a{
  display: block;
  padding: 0 30px;
  font-size: 18px;
}
/* 五大类图标 */
.changeImg{
  /* display: none; */
}

/*12-06*/
.bdcolor{
  border-color:#479CFF !important;
}
.el-select-dropdown__item.hover{
    background: none;
}
.el-select-dropdown__item:hover{
    background: #F5F7FA;
}
.el-select-dropdown__empty{
  display: none;
}
.pages-menu{
  height: 64px;
  background: #f5f5f5;
}
.pages-menu>.el-menu-item{
  margin-right: 5px;
  padding: 0;
  border-bottom: none!important;
}
.pages-menu>.el-menu-item a{
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: #999;
  background: #E4E4E4!important;
  border-radius: 7px 7px 0px 0px;
  line-height:64px;
  height: 64px;
  text-align:center;
  width:140px;
  box-sizing:border-box;
}
.pages-menu>.el-menu-item.is-active a{
  border-top:6px solid #0066FF;
  background: #fff !important;
  color: #202D40;
  box-sizing:border-box;
}
.pages-container{
  height: 100%;
  background:#f5f5f5;
}
.pages-wraps{
  height: 100%;
  padding-right: 15px;
  box-sizing: border-box;
  position: relative;
}
.page-table-content{
  background: #fff;
  border-radius: 0 8px 8px 0;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;;
  left: 0;
  top: 0;
  right: 375px;
  height: 100%;
  overflow-y: scroll;
}
.qualified-content{
  right: 0;
}
.all-screen{
  right: 0;
}
.page-detail-block{
  width: 355px;
  height: 100%;
  position: absolute;;
  right:0;
  top: 0;
}
.el-pager li{
  background: transparent !important;
}
.el-pagination button{
  background: transparent !important;
}
.el-menu.el-menu--horizontal{
  border-bottom: none !important;
}
.el-submenu .el-menu-item.on{
  color: #0060FF;
}
.talentAudit{
  height:100%;
  padding-top:20px;
  box-sizing:border-box;
}
.pages-content-block{
  height:calc(100% - 64px);
  background: #fff;
}
.el-popper{
  max-height: 400px;
}

.el-input.is-disabled .el-input__inner{
  background:#fff;
  padding-left: 10px;
  box-sizing: border-box;
}



/*用户管理*/
.searchs-block .el-input{
  height:100%;
}
.searchs-block .el-input__inner{
	width: 100%;
	height: 100%;
	border:1px solid #eaeaea;
	border-radius: 4px;
  padding-left: 10px;
  box-sizing: border-box;
  display:block;
}
.user-content .el-button{
  padding:.12rem .2rem;
}
.user-content .el-button--primary{
  background:#409EFF;
}
.user-content .el-button--warning{
  background:#E6A23C;
}
.user-content .el-button--success{
  background:#67C23A;
}
.add-form .el-input__inner{
  height:40px;
  border:1px solid #eaeaea;
  width: 400PX;
  border-radius: 6px;
  padding-left: 15px;
  box-sizing: border-box;
}

.add-form .el-button{
  padding:.12rem .2rem;
}

.add-form .el-button--primary{
  background:#409EFF;
}
.status-rows{
  margin-top: 40px;
}
.status-rows .el-button{
  padding:.12rem .2rem;
}
.status-rows .el-button--primary{
  background:#409EFF;
}